<template>
  <!-- HORIZONTAL LAYOUT -->
  <div class="vx-col md:w-1/2 w-full mb-base">
    <vx-card title="ตั้งค่าร้าน">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>ชื่อร้าน</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            v-validate="'required'"
            v-if="editMode"
            class="w-full"
            v-model="shopName"
            name="item-shopName"
          />
          <p class="w-full" v-if="!editMode">
            {{ storeSettingData.storeSetting.shopName }}
          </p>
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-shopName')"
            >{{ errors.first("item-shopName") }}</span
          >
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>อีเมล</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            v-if="editMode"
            class="w-full"
            type="email"
            v-model="emailContact"
            v-validate="'required|email'"
            name="item-emailContact"
          />
          <p class="w-full" v-if="!editMode">
            {{ storeSettingData.storeSetting.emailContact }}
          </p>
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-emailContact')"
            >{{ errors.first("item-emailContact") }}</span
          >
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>หมายเลขโทรศัพท์</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            v-validate="'required|numeric|min:10|max:10'"
            type="number"
            v-if="editMode"
            class="w-full"
            v-model="telephoneContact"
            name="item-telephoneContact"
          />
          <p class="w-full" v-if="!editMode">
            {{ storeSettingData.storeSetting.telephoneContact }}
          </p>
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-telephoneContact')"
            >{{ errors.first("item-telephoneContact") }}</span
          >
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>ที่อยู่</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-textarea
            v-validate="'required'"
            v-if="editMode"
            class="w-full"
            v-model="address"
            name="item-address"
          />
          <p class="w-full" v-if="!editMode">
            {{ storeSettingData.storeSetting.address }}
          </p>
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-address')"
            >{{ errors.first("item-address") }}</span
          >
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col sm:w-2/3 w-full ml-auto">
          <vs-button v-if="!editMode" class="mr-3 mb-2" @click="editMode = true"
            >แก้ไข</vs-button
          >
          <vs-button v-if="editMode" class="mr-3 mb-2" @click="submit()" :disabled="!isFormValid"
            >ยืนยัน</vs-button
          >
          <vs-button
            v-if="editMode"
            color="danger"
            type="filled"
            class="mb-2"
            @click="reset()"
            >ล้างค่า</vs-button
          >
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import moduleSetting from "@/store/storeSetting/moduleStoreSetting.js";

export default {
  data() {
    return {
      shopName: "",
      emailContact: "",
      telephoneContact: "",
      address: "",
      editMode: false
    };
  },
  watch: {},
  computed: {
    storeSettingData() {
      return this.$store.state.storeSetting;
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.shopName &&
        this.emailContact &&
        this.telephoneContact &&
        this.address
      );
    }
  },
  methods: {
    reset() {
      this.shopName = "";
      this.emailContact = "";
      this.telephoneContact = "";
      this.address = "";
    },
    submit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const obj = {
            shopName: this.shopName,
            emailContact: this.emailContact,
            telephoneContact: this.telephoneContact,
            address: this.address
          };
          this.$store
            .dispatch("storeSetting/settingStore", obj)
            .then(result => {
              this.$vs.notify({
                color: "success",
                title: "ตั้งค่าข้อมูลร้าน",
                text: result.data.message
              });
              this.editMode = false;
            })
            .catch(err => {
              this.$vs.notify({
                color: "danger",
                title: "เกิดข้อผิดพลาด",
                text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
              });
            });
        }
      });
    }
  },
  created() {
    if (!moduleSetting.isRegistered) {
      this.$store.registerModule("storeSetting", moduleSetting);
      moduleSetting.isRegistered = true;
    }
    this.$store
      .dispatch("storeSetting/fetchStoreSetting")
      .then(result => {
        this.shopName = result.data.shopName;
        this.emailContact = result.data.emailContact;
        this.telephoneContact = result.data.telephoneContact;
        this.address = result.data.address;
      })
      .catch(err => {});
  }
};
</script>

<style></style>
