<template>
  <div class="demo-alignment">
    <vs-popup
      class="holamundo"
      :title="title"
      :active.sync="isModalActiveLocal"
    >
      <div class="p-6">
        <!-- USERNAME -->
        <vs-input
          :disabled="data._id"
          label="ชื่อผู้ใช้งาน"
          placeholder="ชื่อผู้ใช้งาน"
          v-model="username"
          class="mt-5 w-full"
          name="item-username"
          v-validate="'required|min:3'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-username')"
          >{{ errors.first("item-username") }}</span
        >

        <!-- PASSWORD -->
        <vs-input
          type="password"
          v-bind:class="{ hideInput: data._id }"
          label="รหัสผ่าน"
          placeholder="รหัสผ่าน"
          v-model="password"
          class="mt-5 w-full"
          name="item-password"
          v-validate="'required|min:6'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-password')"
          >{{ errors.first("item-password") }}</span
        >

        <!-- PREFIX NAME -->
        <vs-select
          v-model="prefixName"
          label="คำนำหน้า"
          class="mt-5 w-full"
          name="item-prefixName"
          v-validate="'required'"
        >
          <vs-select-item
            :name="item.value"
            :key="item.value"
            :value="item.value"
            :text="item.text"
            v-for="item in prefix_name"
          />
        </vs-select>
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-prefixName')"
          >{{ errors.first("item-prefixName") }}</span
        >

        <!-- FIRSTNAME -->
        <vs-input
          label="ชื่อ"
          placeholder="ชื่อ"
          v-model="firstName"
          class="mt-5 w-full"
          name="item-firstName"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-firstName')"
          >{{ errors.first("item-firstName") }}</span
        >

        <!-- LASTNAME -->
        <vs-input
          label="นามสกุล"
          placeholder="นามสกุล"
          v-model="lastName"
          class="mt-5 w-full"
          name="item-lastName"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-lastName')"
          >{{ errors.first("item-lastName") }}</span
        >

        <!-- TELEPHONE -->
        <vs-input
          label="หมายเลขโทรศัพท์"
          placeholder="หมายเลขโทรศัพท์"
          v-model="telephone"
          class="mt-5 w-full"
          name="item-telephone"
          v-validate="'required|integer|numeric|min:10|max:10'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-telephone')"
          >{{ errors.first("item-telephone") }}</span
        >

        <!-- EMAIL -->
        <vs-input
          label="อีเมล"
          placeholder="อีเมล"
          v-model="email"
          class="mt-5 w-full"
          name="item-email"
          v-validate="'required|email'"
        />
        <span class="text-danger text-sm" v-show="errors.has('item-email')">{{
          errors.first("item-email")
        }}</span>

        <!-- ROLE -->
        <vs-select
          v-model="role"
          label="ตำแหน่ง"
          class="mt-5 w-full"
          name="item-role"
          v-validate="'required'"
        >
          <vs-select-item
            v-bind:name="item.value"
            :key="item.value"
            :value="item.value"
            :text="item.text"
            v-for="item in roleType"
          />
        </vs-select>
        <span class="text-danger text-sm" v-show="errors.has('item-role')">{{
          errors.first("item-role")
        }}</span>
        <div class=" p-6 text-center" slot="footer">
          <vs-button
            color="success"
            type="filled"
            class="mr-6"
            @click="submitData"
            :disabled="!isFormValid"
            >ตกลง</vs-button
          >
          <vs-button
            color="danger"
            type="filled"
            @click.stop="isModalActiveLocal = false"
            >ยกเลิก</vs-button
          >
        </div>
      </div>
    </vs-popup>
  </div>
</template>
<script>
export default {
  props: {
    isModalActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      title: "",
      id: null,
      username: "",
      password: "",
      prefixName: "",
      firstName: "",
      lastName: "",
      telephone: "",
      email: "",
      role: "",

      prefix_name: [
        { text: "เลือก...", value: "" },
        { text: "นาย", value: "นาย" },
        { text: "นาง", value: "นาง" },
        { text: "นางสาว", value: "นางสาว" }
      ],

      roleType: [
        { text: "เลือก...", value: "" },
        { text: "หัวหน้า", value: "หัวหน้า" },
        { text: "พนักงาน", value: "พนักงาน" },
        { text: "ครัว", value: "ครัว" },
        { text: "ผู้จัดการ", value: "ผู้จัดการ" },
        { text: "แคชเชียร์", value: "แคชเชียร์" }
      ]
    };
  },
  watch: {
    isModalActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        //init value
        this.initValues();
        this.$validator.reset();
        this.title = "เพิ่มพนักงาน";
      } else {
        this.title = "แก้ไขพนักงาน";
        this.id = this.data._id;
        this.username = this.data.username;
        this.password = this.data.password;
        this.prefixName = this.data.prefixName;
        this.firstName = this.data.firstName;
        this.lastName = this.data.lastName;
        this.telephone = this.data.telephone;
        this.email = this.data.email;
        this.role = this.data.role;
        this.initValues();
      }
    }
  },
  computed: {
    isModalActiveLocal: {
      get() {
        return this.isModalActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeModal");
        }
      }
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.prefixName &&
        this.username &&
        this.password &&
        this.firstName &&
        this.lastName &&
        this.email &&
        this.telephone &&
        this.role
      );
    }
  },
  methods: {
    initValues() {
      if (this.data._id) return;
      this.id = null;
      this.username = "";
      this.password = "";
      this.prefixName = "";
      this.firstName = "";
      this.lastName = "";
      this.telephone = "";
      this.email = "";
      this.role = "";
    },
    submitData() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const obj = {
            _id: this.id,
            username: this.username,
            password: this.password,
            prefixName: this.prefixName,
            firstName: this.firstName,
            lastName: this.lastName,
            telephone: this.telephone,
            email: this.email,
            role: this.role
          };

          if (this.id !== null && this.id.length >= 0) {
            this.$store
              .dispatch("userList/updateItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: err.data.message
                });
              });
          } else {
            delete obj.id;
            obj.popularity = 0;
            this.$store
              .dispatch("userList/addItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
                });
              });
          }
          this.$emit("closeModal");
          this.initValues();
        }
      });
    }
  }
};
</script>

<style scoped>
.hideInput {
  display: none;
}
</style>
