<template>
  <div>
    <vs-row vs-w="12"
      ><span class="table-id">โต๊ะ {{ table }}</span></vs-row
    >
    <vs-row vs-w="12" vs-justify="space-between" style="margin-bottom: 10px;">
      <vs-col
        vs-type="flex"
        vs-lg="3"
        vs-sm="4"
        vs-xs="12"
        v-bind:class="'sidebar'"
      >
        ตัวกรอง
      </vs-col>
      <vs-col vs-lg="9" vs-sm="8" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <span style="float:left;">{{ Items.length }} รายการ</span>
        <span style="float:right; display: flex;">
          <vs-button
            icon="done"
            style="margin-right: 5px;"
            :disabled="orders.length <= 0"
            @click.stop="goCheckOrder()"
            >ยืนยันรายการ</vs-button
          >
          <vs-button
            class="own-btn"
            icon="keyboard_backspace"
            @click.stop="$router.go(-1)"
            >ย้อนกลับ</vs-button
          >
        </span>
      </vs-col>
    </vs-row>
    <vs-row vs-w="12" vs-justify="space-between">
      <vs-col
        vs-type="flex"
        vs-lg="3"
        vs-sm="4"
        vs-xs="12"
        v-bind:class="'sidebar'"
      >
        <vs-row vs-w="12">
          <vs-col vs-lg="12">
            <vx-card title="ประเภทอาหาร">
              <ul class="leftx">
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="อาหารคาว"
                    ><p style="color: #fc1703; font-weight: bold;">อาหารคาว</p>
                  </vs-radio>
                </li>
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="อาหารหวาน"
                    ><p style="color: #0000ff; font-weight: bold;">
                      อาหารหวาน
                    </p></vs-radio
                  >
                </li>
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="เครื่องดื่ม"
                    style="color: #289c59; font-weight: bold;"
                    >เครื่องดื่ม</vs-radio
                  >
                </li>
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="อื่นๆ"
                    style="color: #ff9900; font-weight: bold;"
                    >อื่นๆ</vs-radio
                  >
                </li>
              </ul>
              <vs-divider />
              <vs-button
                v-bind:style="'width:100%'"
                icon="refresh"
                type="relief"
                @click="foodType = ''"
              >
                ล้างค่า
              </vs-button>
            </vx-card>
          </vs-col>
          <vs-col vs-lg="12" v-bind:style="'margin-top: 4%;'">
            <vx-card title="รายการ">
              <p v-for="(order, index) in orders" :key="index">
                {{ order.foodName }}
                <span style="float:right;"
                  >{{ order.price | toCurrency }}x{{ order.quantity }}
                </span>
              </p>
              <vs-divider />
              <div style="padding: 10px 0 10px 0;">
                <span style="float:left;">ยอดรวม</span>
                <span style="float:right;">{{ sum | toCurrency }}</span>
              </div>
            </vx-card>
          </vs-col>
        </vs-row>
      </vs-col>
      <vs-col vs-lg="9" vs-sm="8" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <vs-row vs-w="12">
          <vs-col vs-lg="12">
            <vs-input
              icon="search"
              class="inputx"
              placeholder="ค้นหา"
              v-bind:style="'width: 100%'"
              v-model="searchText"
            ></vs-input>
          </vs-col>

          <vs-col vs-lg="12">
            <vx-card
              class="cardx product"
              :key="item.time"
              v-for="item in Items"
            >
              <vs-row>
                <vs-col v-bind:class="'section-padding'" vs-lg="3" vs-xs="12">
                  <img
                    :src="item.foodImage ? `${serverUrl}${item.foodImage}` : require('@/assets/images/unknown.png')"
                    style="max-height:100%;max-width:100%; margin: auto;"
                  />
                </vs-col>
                <vs-col v-bind:class="'section-padding'" vs-lg="5" vs-xs="12">
                  <h3>{{ item.foodName }}</h3>
                  <p>
                    <span>{{ item.foodType }}</span>
                  </p>
                  <p>หมายเหตุ: {{ item.foodDetail }}</p>
                </vs-col>
                <vs-col
                  vs-lg="4"
                  vs-xs="12"
                  v-bind:style="
                    'text-align: center; padding: 1em; border-left: 1px solid #dae1e7;'
                  "
                >
                  <h3>{{ item.price | toCurrency }} X {{ item.quantity }}</h3>
                  <!-- <vs-button
                    color="success"
                    type="relief"
                    v-bind:style="'width:80%;'"
                    @click="addToCart(item, number)"
                    >ลบออก</vs-button
                  > -->
                  <div
                    class="item-view-primary-action-btn p-3 rounded-lg flex flex-grow items-center justify-center cursor-pointer mb-3 own-color"
                    @click.stop="removeOrder(item)"
                  >
                    <feather-icon icon="XIcon" svgClasses="h-4 w-4" />

                    <span class="text-sm font-semibold ml-2">ลบออก</span>
                  </div>
                </vs-col>
              </vs-row>
            </vx-card>
          </vs-col>
        </vs-row>
      </vs-col>
    </vs-row>
  </div>
</template>

<script>
import moduleFoodMenu from "@/store/food-menu/moduleFoodMenu.js";
import moduleOrder from "@/store/order/moduleOrder.js";

export default {
  data() {
    return {
      number: 1,
      foodDetail: "",
      searchText: "",
      foodType: "",
      Items: [],

      // pagination
      currentPage: 1,
      itemsPerPage: 10,
      fetchOption: {
        search: "",
        searchType: this.foodType,
        sort: {},
        page: this.currentPage,
        limit: this.itemsPerPage
      }
    };
  },
  watch: {
    searchText(newVal) {
      if (newVal === "") {
        this.Items = this.$store.state.orderList.orders.menu;
      } else {
        this.Items = this.$store.state.orderList.orders.menu.filter(item => {
          if (item.foodName.includes(newVal)) return item;
        });
      }
    },
    foodType(newVal) {
      if (newVal === "") {
        this.Items = this.$store.state.orderList.orders.menu;
      } else {
        this.Items = this.$store.state.orderList.orders.menu.filter(item => {
          if (item.foodType === newVal) return item;
        });
      }
    }
  },
  methods: {
    goCheckOrder() {
      this.$store
        .dispatch("orderList/addOrder", this.orderList)
        .then(result => {          
          if (result.data.success) {
            this.$store.dispatch(
              "orderList/getOrder",
              result.data.data
            );
            this.$router.push("/OrderStatus");
          } else {
            this.$vs.notify({
              title: "เกิดข้อผิดพลาด",
              text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
              color: "danger",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
          }
        })
        .catch(err => {
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    },
    removeOrder(item) {
      this.$store.commit("orderList/REMOVE_ORDER", item);
      if (this.$store.state.orderList.orders.length < 0) {
        this.$router.push("/OrderMenu");
      }
    }
  },
  computed: {
    orderId() {
      return this.$store.state.orderList.orderId;
    },
    menus() {
      return this.$store.state.foodList.menus
        ? this.$store.state.foodList.menus
        : 0;
    },
    orderList() {
      return this.$store.state.orderList;
    },
    orders() {
      return this.$store.getters["orderList/groupOrder"];
    },
    sum() {
      if (this.$store.state.orderList.orders.menu.length > 0) {
        let sum = this.$store.state.orderList.orders.menu.reduce(
          (acc, val) => acc + val.price * val.quantity,
          0
        );
        return sum;
      } else return 0;
    },
    table() {
      return this.$store.state.orderList.orders.tableId
        ? this.$store.state.orderList.orders.tableId
        : 0;
    },
    serverUrl() {
      return process.env.VUE_APP_SERVER_URL;
    }
  },
  created() {
    if (!moduleFoodMenu.isRegistered) {
      this.$store.registerModule("foodList", moduleFoodMenu);
      moduleFoodMenu.isRegistered = true;
    }
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }
    if (!this.$store.state.orderList.orders.tableId) {
      this.$vs.notify({
        title: "เกิดข้อผิดพลาด",
        text: "กรุณาเลือกโต๊ะ",
        color: "danger",
        iconPack: "feather",
        icon: "icon-alert-circle"
      });
      this.$router.push("/OrderTable");
    }
    this.fetchOption.searchType = this.foodType;
    this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
    this.Items = this.$store.state.orderList.orders.menu;
    
  }
};
</script>

<style lang="stylus" scoped>
.section-amount {
  background-color: #f5f5f5;
  margin: 8px 0 12px 0;
  padding: 8px;
}
.caution {
  padding-top: 25px;
}
.vs-input-number {
  font-size: 16px !important ;
}
.section-padding {
  padding: 1em;
}
.sidebar {
  padding-right: 4%;
  height: fit-content;
  margin-bottom 10px;
}
@media only screen and (max-device-width : 640px) {
/* Styles */
  .sidebar {
    padding-right: 0;
  }
}
.product {
  margin: 10px 0 10px;
}
.table-id {
  font-size: 26px;
}
.own-color {
  margin-top: 15px;
  background: #f6f6f6;
}
</style>
