<template>
  <div id="data-list-list-view" class="data-list-container">
    <vs-table ref="table" :max-items="itemsPerPage" :data="Items" search>
      <div
        slot="header"
        class="flex flex-wrap-reverse items-center flex-grow justify-between"
      >
        <div
          class="flex flex-wrap-reverse items-center data-list-btn-container"
        >
          <!-- ITEMS PER PAGE -->
          <vs-dropdown
            vs-trigger-click
            class="cursor-pointer mb-4 mr-4 items-per-page-handler"
          >
            <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
            >
              <span class="mr-2"
                >{{ this.tables.pagingCounter ? this.tables.pagingCounter : 0 }}
                -
                {{
                  totalItems - currentPage * itemsPerPage > 0
                    ? currentPage * itemsPerPage
                    : totalItems
                }}
                of {{ totalItems }}</span
              >
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>
              <vs-dropdown-item @click="itemsPerPage = 50">
                <span>50</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 100">
                <span>100</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>
      </div>

      <template slot="thead">
        <vs-th sort-key="tableId">หมายเลขโต๊ะ</vs-th>
        <vs-th sort-key="numberSeat">จำนวนที่นั่ง</vs-th>
        <vs-th sort-key="status">สถานะ</vs-th>
        <vs-th>เพิ่มรายการอาหาร</vs-th>
        <vs-th>ตรวจสอบรายการอาหาร</vs-th>
        <vs-th>ย้ายโต๊ะ</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="table-tableIdfont-medium truncate">
                {{ tr.tableId }}
              </p>
            </vs-td>

            <vs-td>
              <p class="table-numberSeat">{{ tr.numberSeat }}</p>
            </vs-td>

            <vs-td>
              <p
                v-bind:class="{
                  'text-success ': tr.status === 'ว่าง',
                  'text-danger': tr.status === 'ไม่ว่าง'
                }"
                class="user-telephone"
                style="font-weight: bold;"
              >
                {{ tr.status }}
              </p>
            </vs-td>

            <vs-td>
              <vs-button
                type="filled"
                color="success"
                @click="addOrderAction(tr)"
                >เพิ่มรายการ</vs-button
              >
            </vs-td>

            <vs-td class="whitespace-no-wrap">
              <vs-button
                type="filled"
                color="#4839eb"
                @click.stop="goOrderStatus(tr.order)"
                :disabled="tr.status === 'ว่าง'"
                >ตรวจสอบ</vs-button
              >
            </vs-td>
            <vs-td>
              <vs-button
                type="filled"
                color="warning"
                @click="changeTablePrompt(tr)"
                :disabled="tr.status === 'ว่าง'"
                >ย้ายโต๊ะ</vs-button
              >
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>

    <vs-pagination :total="totalPages" v-model="currentPage"></vs-pagination>
    
    <vs-popup
      class="holamundo text-center"
      title="กรอกจำนวนลูกค้า"
      :active.sync="addOrder"
    >
      <div class="text-center">
        <img
          src="https://download.seaicons.com/icons/paomedia/small-n-flat/1024/sign-question-icon.png"
          width="200px"
          height="200px"
        />
        <vs-input
          placeholder="กรอกจำนวนลูกค้า"
          vs-justify="center"
          v-model="customerNumber"
          class="mt-5 w-full"
          name="item-customerNumber"
          type="number"
          v-validate="'required|numeric|integer'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-customerNumber')"
          >{{ errors.first("item-customerNumber") }}</span
        >
        <br />
        <vs-button
          color="primary"
          type="filled"
          :disabled="!isFormValid"
          @click="fillCustomerNumber"
          >ยืนยัน</vs-button
        >
      </div>
    </vs-popup>

    <vs-popup
      class="holamundo text-center"
      :title="`ย้ายโต๊ะ ${moveTableObject.tableId}`"
      :active.sync="moveTable"
    >
      <div class="text-center">
        <img
          src="https://image.flaticon.com/icons/png/512/1535/1535044.png"
          width="200px"
          height="200px"
        />
        <vs-col
          vs-offset="2"
          vs-type="flex"
          vs-justify="center"
          vs-align="center"
          vs-w="8"
        >
          <vs-select
            class="selectTable"
            label="กรุณาใส่หมายเลขโต๊ะปลายทาง"
            v-model="selectDestination"
            icon="arrow_downward"
          >
            <vs-select-item
              :name="item.tableId"
              :key="index"
              :value="item.tableId"
              :text="item.tableId"
              v-for="(item, index) in availableTable"
            />
          </vs-select>
        </vs-col>
        <vs-col
          vs-offset="2"
          vs-type="flex"
          vs-justify="center"
          vs-align="center"
          vs-w="8"
          class="mt-5"
        >
          <vs-button
            vs-align="center"
            color="primary"
            type="filled"
            @click="changeTableAccept()"
            >ยืนยัน</vs-button
          >
        </vs-col>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import moduleTable from "@/store/table/moduleTable.js";
import moduleOrder from "@/store/order/moduleOrder.js";

export default {
  watch: {
    currentPage(newVal) {
      this.fetchOption.page = newVal;
      this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    },
    itemsPerPage(newVal) {
      this.fetchOption.limit = newVal;
      this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    }
  },
  data() {
    return {
      // Add Modal
      tableId: "",
      addNewDataModal: false,
      modalData: {},
      addOrder: false,
      moveTable: false,
      moveTableObject: {},

      customerNumber: "",

      selectDestination: "",
      // products: [],
      itemsPerPage: 50,
      isMounted: false,
      deleteId: null,

      //pagination
      currentPage: 1,
      fetchOption: {
        search: "",
        sort: {},
        page: this.currentPage,
        limit: this.itemsPerPage
      }
    };
  },
  computed: {
    tables() {
      return this.$store.state.tableList.tables;
    },
    Items() {
      return this.tables.docs ? this.tables.docs : [];
    },
    availableTable() {
      return this.Items.filter(item => {
        return item.status === "ว่าง";
      });
    },
    totalItems() {
      return this.tables.totalDocs ? this.tables.totalDocs : 0;
    },
    page() {
      return this.tables.page;
    },
    totalPages() {
      return this.tables.totalPages ? this.tables.totalPages : 0;
    },
    isFormValid() {
      return (
        !this.errors.any() && this.customerNumber && this.customerNumber > 0
      );
    }
  },
  methods: {
    addOrderAction(table) {
      this.$store.commit("orderList/SELECT_TABLE", table.tableId);
      if (table.status === "ว่าง") {
        // เปิดโมดอลเพิ่มจำนวนคน
        this.addOrder = true;
      } else {
        // เข้าเลือกเมนูอาหาร
        this.$store.commit("orderList/SET_ORDER_ID", table.order)
        this.openMenuTable();
      }
    },
    changeTablePrompt(tr) {
      this.selectDestination = "";
      if (this.availableTable.length > 0) {
        this.moveTableObject = tr;
        this.moveTable = true;
      } else {
        this.$vs.notify({
          color: "warning",
          title: "ย้ายโต๊ะ",
          text: "ยังไม่มีโต๊ะว่างขณะนี้"
        });
      }
    },
    changeTableAccept() {
      var obj = {
        destinationTable: this.selectDestination,
        orderId: this.moveTableObject.order,
        oldTable: this.moveTableObject.tableId,
        acessCode: this.moveTableObject.acessCode
      };
      if (!this.selectDestination) {
        this.$vs.notify({
          title: "ย้ายโต๊ะ",
          text: "กรุณาเลือกโต๊ะที่ต้องการย้าย",
          color: "warning",
          iconPack: "feather",
          icon: "icon-alert-circle"
        });
      } else {
        this.$store
          .dispatch("orderList/changeTable", obj)
          .then(result => {
            // เช็คว่าลบข้อมูลสำเร็จหรือไม่
            if (result.data.success) {
              this.$store.dispatch("tableList/fetchTables", this.fetchOption);
              this.moveTable = false;
              this.$vs.notify({
                color: "success",
                title: "ย้ายโต๊ะ",
                text: "ย้ายโต๊ะสำเร็จ"
              });
            } else {
              this.$vs.notify({
                title: "ย้ายโต๊ะ",
                text: result.data.message,
                color: "warning",
                iconPack: "feather",
                icon: "icon-alert-circle"
              });
            }
          })
          .catch(err => {
            this.$vs.notify({
              title: "เกิดข้อผิดพลาด",
              text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
              color: "danger",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
          });
      }
    },
    goOrderStatus(order) {
      this.$store.dispatch("orderList/getOrder", order);
      this.$router.push("/OrderStatus");
    },
    fillCustomerNumber() {
      this.$store.commit("orderList/SET_CUSTOMERNUMBER", this.customerNumber);
      this.openMenuTable();
    },
    openMenuTable() {
      this.addOrder = false;
      setTimeout(() => {
        this.$router.push("/OrderMenu");
      }, 500);
    }
  },
  created() {
    if (!moduleTable.isRegistered) {
      this.$store.registerModule("tableList", moduleTable);
      moduleTable.isRegistered = true;
    }
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }
    this.fetchOption.limit = 50;
    this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    this.$store.commit("orderList/SET_ORDER_BLANK");
    this.$store.commit("orderList/SELECT_TABLE", null);
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;
        .vs-table--search-input {
          width: 100%;
        }
      }
    }
    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }
    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;
        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }
    .product-name {
      max-width: 23rem;
    }
    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }
      .vs-table--search {
        padding-top: 0;
        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;
          & + i {
            left: 1rem;
          }
          &:focus + i {
            left: 1rem;
          }
        }
      }
    }
    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;
      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }
    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;
        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
