<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="https://png.pngtree.com/templates/md/20180521/md_5b026d265c741.jpg">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css">
    <title>BUUPOS  - ระบบจัดการร้านอาหาร</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="loading-bg">
      <div class="loading">
        <div class="effect-1 effects"></div>
        <div class="effect-2 effects"></div>
        <div class="effect-3 effects"></div>
      </div>
    </div>
    <div id="app">

    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
