<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div
    class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
    id="page-login"
  >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col hidden lg:block lg:w-1/2">
              <img
                src="@/assets/images/Project/logo.png"
                alt="login"
                class="mx-auto"
                style="width: 250px; height: 220px;"
              />
            </div>
            
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 row h-100">
              <div class="px-8 pt-8 login-tabs-container">
                <br><br><br><br><br>
                <div class="vx-card__title mb-4">
                  <h4 class="mb-4 text-center">เข้าสู่ระบบ</h4>
                  <p class="text-center">กรุณากรอกชื่อผู้ใช้งานและรหัสผ่านเพื่อเข้าใช้งาน</p>
                </div>
                <login-jwt></login-jwt>
              </div>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import LoginJwt from "./LoginJWT.vue";

export default {
  components: {
    LoginJwt
  }
};
</script>

<style lang="scss">
.login-tabs-container {
  min-height: 505px;

  .con-tab {
    padding-bottom: 14px;
  }

  .con-slot-tabs {
    margin-top: 1rem;
  }
}
</style>
