<template>
  <div>
    <vs-row style="margin-bottom: 20px;">
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12">
        <vs-dropdown>
          <vs-button class="btn-drop" type="filled" icon="expand_more"
            >เหตุผลในการยกเลิก</vs-button
          >
          <!-- <a href="#">Hola mundo</a> -->
          <vs-dropdown-menu>
            <vs-dropdown-item @click="type = 'ทั้งหมด'">
              ทั้งหมด
            </vs-dropdown-item>
            <vs-dropdown-item @click="type = 'คืนสินค้า'">
              คืนสินค้า
            </vs-dropdown-item>
            <vs-dropdown-item @click="type = 'ของหมด'">
              อาหารหมด
            </vs-dropdown-item>
            <vs-dropdown-item @click="type = 'ลูกค้าไม่รับ'">
              ลูกค้าไม่รับ
            </vs-dropdown-item>
            <vs-dropdown-item @click="type = 'ลูกค้าไม่ได้รับ'">
              ลูกค้าไม่ได้รับ
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันเริ่มต้น<datepicker
          placeholder="Select Date"
          v-model="dateStart"
          :language="th"
          :disabled-dates="disableStart"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันสิ้นสุด<datepicker
          placeholder="Select Date"
          v-model="dateEnd"
          :language="th"
          :disabled-dates="disableEnd"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12" class="back-section">
        <div class="own-btn">
          <vs-button
            style="width: 100%;"
            icon="keyboard_backspace"
            @click.stop="$router.go(-1)"
            >ย้อนกลับ</vs-button
          >
        </div>
      </vs-col>
    </vs-row>

    <div class="vx-row">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card :title="type">
          <div slot="no-body" class="mt-4">
            <vs-table
              :data="canlcelData"
              class="table-dark-inverted"
              pagination
              stripe
              max-items="10"
              search
            >
              <template slot="thead">
                <vs-th>วันที่</vs-th>
                <vs-th>เวลา</vs-th>
                <vs-th>รายการอาหาร</vs-th>
                <vs-th>โต๊ะ</vs-th>
                <vs-th>ดำเนินการโดย</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].createdAt">
                    <span>{{ data[indextr].createdAt | date(true) }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].createdAt">
                    <span class="flex items-center px-2 py-1 rounded">
                      {{ data[indextr].createdAt | time }}
                    </span>
                  </vs-td>
                  <vs-td :data="data[indextr].foodName">
                    <span>{{ data[indextr].foodName }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].tableId">
                    <span>{{ data[indextr].tableId }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cancelOrder">
                    <span v-if="data[indextr].cancelOrder">{{ data[indextr].cancelOrder.user }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div>
    <!-- 
    <div class="vx-row">
      <div class="vx-col w-full">
        <vx-card title="อาหารหมด">
          <div slot="no-body" class="mt-4">
            <vs-table
              :data="foodLack"
              class="table-dark-inverted"
              pagination
              stripe
              max-items="10"
              search
            >
              <template slot="thead">
                <vs-th>วันที่</vs-th>
                <vs-th>เวลา</vs-th>
                <vs-th>รายการอาหาร</vs-th>
                <vs-th>โต๊ะ</vs-th>
                <vs-th>แคชเชียร์</vs-th>
                <vs-th>จำนวนเงิน</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].createdAt">
                    <span>{{ data[indextr].createdAt | date(true) }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].createdAt">
                    <span class="flex items-center px-2 py-1 rounded">
                      {{ data[indextr].createdAt | time }}
                    </span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderCount">
                    <span>{{ data[indextr].billId }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].order">
                    <span v-if="data[indextr].order">{{
                      data[indextr].order.table
                    }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cashier">
                    <span>{{ data[indextr].cashier }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].totalPrice">
                    <span>{{ data[indextr].totalPrice | toCurrency }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col w-full">
        <vx-card title="ลูกค้าไม่รับ">
          <div slot="no-body" class="mt-4">
            <vs-table
              :data="foodReject"
              class="table-dark-inverted"
              pagination
              stripe
              max-items="10"
              search
            >
              <template slot="thead">
                <vs-th>วันที่</vs-th>
                <vs-th>เวลา</vs-th>
                <vs-th>หมายเลขใบเสร็จ</vs-th>
                <vs-th>โต๊ะ</vs-th>
                <vs-th>แคชเชียร์</vs-th>
                <vs-th>จำนวนเงิน</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].createdAt">
                    <span>{{ data[indextr].createdAt | date(true) }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].createdAt">
                    <span class="flex items-center px-2 py-1 rounded">
                      {{ data[indextr].createdAt | time }}
                    </span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderCount">
                    <span>{{ data[indextr].billId }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].order">
                    <span v-if="data[indextr].order">{{
                      data[indextr].order.table
                    }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cashier">
                    <span>{{ data[indextr].cashier }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].totalPrice">
                    <span>{{ data[indextr].totalPrice | toCurrency }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col w-full">
        <vx-card title="ลูกค้าไม่ได้รับ">
          <div slot="no-body" class="mt-4">
            <vs-table
              :data="foodNotTake"
              class="table-dark-inverted"
              pagination
              stripe
              max-items="10"
              search
            >
              <template slot="thead">
                <vs-th>วันที่</vs-th>
                <vs-th>เวลา</vs-th>
                <vs-th>หมายเลขใบเสร็จ</vs-th>
                <vs-th>โต๊ะ</vs-th>
                <vs-th>แคชเชียร์</vs-th>
                <vs-th>จำนวนเงิน</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].createdAt">
                    <span>{{ data[indextr].createdAt | date(true) }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].createdAt">
                    <span class="flex items-center px-2 py-1 rounded">
                      {{ data[indextr].createdAt | time }}
                    </span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderCount">
                    <span>{{ data[indextr].billId }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].order">
                    <span v-if="data[indextr].order">{{
                      data[indextr].order.table
                    }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cashier">
                    <span>{{ data[indextr].cashier }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].totalPrice">
                    <span>{{ data[indextr].totalPrice | toCurrency }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div> -->
  </div>
</template>

<script>
import moduleReport from "@/store/report/moduleReport.js";
import Datepicker from "vuejs-datepicker";
import { th } from "vuejs-datepicker/dist/locale";

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      dateStart: new Date(new Date().setDate(new Date().getDate() - 7)),
      dateEnd: new Date(),
      type: "ทั้งหมด",
      th: th,
      disableStart: {
        from: new Date()
      },
      disableEnd: {
        to: new Date(new Date().setDate(new Date().getDate() - 7)),
        from: new Date()
      }
    };
  },
  watch: {
    dateStart(newVal, oldVal) {
      this.reportCancel();
      this.disableEnd.to = this.dateStart
    },
    dateEnd(newVal, oldVal) {
      this.reportCancel();
      this.disableStart.from = this.dateEnd
    },
    type() {
      this.reportCancel();
    }
  },
  methods: {
    reportCancel() {
      this.$vs.loading();
      this.$store
        .dispatch("report/getReportCancel", this.axiosParams)
        .then(result => {
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    }
  },
  computed: {
    axiosParams() {
      let start = new Date(new Date (this.dateStart).setHours(0,0,0,0))
      let stop = new Date(new Date (this.dateEnd).setHours(24,0,0,0))
      const params = new URLSearchParams();
      params.append("dateStart", start);
      params.append("dateEnd", stop);
      params.append("type", this.type);
      return params;
    },
    canlcelData() {
      return this.$store.state.report.cancel
        ? this.$store.state.report.cancel
        : [];
    },
    foodRefund() {
      return this.$store.state.report.cancel.foodRefund
        ? this.$store.state.report.cancel.foodRefund
        : [];
    },
    foodReject() {
      return this.$store.state.report.cancel.foodReject
        ? this.$store.state.report.cancel.foodReject
        : [];
    },
    foodNotTake() {
      return this.$store.state.report.cancel.foodNotTake
        ? this.$store.state.report.cancel.foodNotTake
        : [];
    },
    foodLack() {
      return this.$store.state.report.cancel.foodLack
        ? this.$store.state.report.cancel.foodLack
        : [];
    }
  },
  created() {
    if (!moduleReport.isRegistered) {
      this.$store.registerModule("report", moduleReport);
      moduleReport.isRegistered = true;
    }
    this.reportCancel();
  }
};
</script>

<style>
.back-section {
  margin: auto;
}
.own-btn {
  padding-top: 18px;
}
</style>
