<template>
  <div>
    <vs-row style="margin-bottom: 20px;">
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12">
        <h3>เลือกวันที่ต้องการดู</h3>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันเริ่มต้น<datepicker
          placeholder="เลือกวันที่"
          v-model="dateStart"
          :disabled-dates="disableStart"
          :language="th"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันสิ้นสุด<datepicker
          placeholder="เลือกวันที่"
          v-model="dateEnd"
          :disabled-dates="disableEnd"
          :language="th"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12" class="back-section">
        <div class="own-btn">
          <vs-button
            style="width: 100%;"
            icon="keyboard_backspace"
            @click.stop="$router.go(-1)"
            >ย้อนกลับ</vs-button
          >
        </div>
      </vs-col>
    </vs-row>
    <div class="vx-row">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card title="บิล">
          <div slot="no-body" class="mt-4">
            <vs-table
              :data="bill"
              class="table-dark-inverted"
              pagination
              stripe
              max-items="10"
              search
            >
              <template slot="thead">
                <vs-th>วันที่</vs-th>
                <vs-th>เวลา</vs-th>
                <vs-th>หมายเลขใบเสร็จ</vs-th>
                <vs-th>โต๊ะ</vs-th>
                <vs-th>แคชเชียร์</vs-th>
                <vs-th>จำนวนเงิน</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].createdAt">
                    <span>{{ data[indextr].createdAt | date(true) }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].createdAt">
                    <span class="flex items-center px-2 py-1 rounded">
                      {{ data[indextr].createdAt | time }}
                    </span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderCount">
                    <span>{{ data[indextr].billId }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].order">
                    <span v-if="data[indextr].order">{{
                      data[indextr].order.table
                    }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].cashier">
                    <span>{{ data[indextr].cashier }}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].totalPrice">
                    <span>{{ data[indextr].totalPrice | toCurrency }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import moduleReport from "@/store/report/moduleReport.js";
import Datepicker from "vuejs-datepicker";
import { th } from "vuejs-datepicker/dist/locale";

export default {
  components: {
    Datepicker
  },
  data() {
    return {
      dateStart: new Date(new Date().setDate(new Date().getDate() - 7)),
      dateEnd: new Date(),
      th: th,
      disableStart: {
        from: new Date()
      },
      disableEnd: {
        to: new Date(new Date().setDate(new Date().getDate() - 7)),
        from: new Date()
      }
    };
  },
  watch: {
    dateStart(newVal, oldVal) {
      this.reportBill();
      this.disableEnd.to = this.dateStart;
    },
    dateEnd(newVal, oldVal) {
      this.reportBill();
      this.disableStart.from = this.dateEnd;
    }
  },
  methods: {
    reportBill() {
      this.$vs.loading();
      this.$store
        .dispatch("report/getReportBill", this.axiosParams)
        .then(result => {
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    }
  },
  computed: {
    axiosParams() {
      let start = new Date(new Date (this.dateStart).setHours(0,0,0,0))
      let stop = new Date(new Date (this.dateEnd).setHours(24,0,0,0))
      const params = new URLSearchParams();
      params.append("dateStart", start);
      params.append("dateEnd", stop);
      return params;
    },
    bill() {
      return this.$store.state.report.bill ? this.$store.state.report.bill : [];
    }
  },
  created() {
    if (!moduleReport.isRegistered) {
      this.$store.registerModule("report", moduleReport);
      moduleReport.isRegistered = true;
    }
    this.reportBill();
  }
};
</script>

<style>
.back-section {
  margin: auto;
}
.own-btn {
  padding-top: 18px;
}
</style>
