<template>
  <div class="demo-alignment">
    <vs-popup
      class="holamundo"
      :title="title"
      :active.sync="isModalActiveLocal"
    >
      <div class="p-6">
        <!-- foodName -->
        <vs-input
          label="ชื่อรายการอาหาร"
          placeholder="ชื่อรายการอาหาร"
          v-model="foodName"
          class="mt-5 w-full"
          name="item-foodName"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-foodName')"
          >{{ errors.first("item-foodName") }}</span
        >

        <!-- foodType -->
        <vs-select v-model="foodType" label="ประเภท" class="mt-5 w-full">
          <vs-select-item
            v-bind:name="item.value"
            :key="item.value"
            :value="item.value"
            :text="item.text"
            v-for="item in typeFood"
          />
        </vs-select>

        <!-- price -->
        <vs-input
          label="ราคา"
          placeholder="ราคา"
          type="number"
          v-model="price"
          class="mt-5 w-full"
          name="item-price"
          v-validate="'required|numeric|integer'"
        />
        <span class="text-danger text-sm" v-show="errors.has('item-price')">{{
          errors.first("item-price")
        }}</span>

        <!-- describe -->
        <vs-input
          label="รายละเอียด"
          placeholder="รายละเอียด"
          v-model="describe"
          class="mt-5 w-full"
          name="item-describe"
          v-validate="'required'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-describe')"
          >{{ errors.first("item-describe") }}</span
        >

        <!-- calroies -->
        <vs-input
          label="แคลอรี่"
          type="number"
          placeholder="แคลอรี่"
          v-model="calroies"
          class="mt-5 w-full"
          name="item-calroies"
          v-validate="'required|numeric|integer'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-calroies')"
          >{{ errors.first("item-calroies") }}</span
        >
        <div style="margin: 25px 0 15px 0;">
          <input
            type="file"
            class="hidden"
            ref="updateImageInput"
            @change="update_image"
            accept="image/*"
          />
          <vs-button
            v-if="!foodImage"
            style="width: 100%; margin: 0 0 10px 0;"
            class="mr-4"
            type="filled"
            @click="$refs.updateImageInput.click()"
            >อัพโหลดรูปอาหาร</vs-button
          >
          <div
            class="img-container w-64 mx-auto flex items-center justify-center"
            v-if="dataImg"
          >
            <img :src="`${dataImg}`" alt="img" class="responsive" />
          </div>
          <div
            class="img-container w-64 mx-auto flex items-center justify-center"
            v-if="foodImage && !imageTrigger"
          >
            <img :src="`${serverUrl}${foodImage}`" alt="img" class="responsive" />
          </div>
        </div>
        <vs-divider></vs-divider>
        <div class="text-center p-6" slot="footer">
          <vs-button
            color="success"
            type="filled"
            class="mr-6"
            @click="submitData"
            :disabled="!isFormValid"
            >ตกลง</vs-button
          >
          <vs-button
            color="danger"
            type="filled"
            @click.stop="isModalActiveLocal = false"
            >ยกเลิก</vs-button
          >
        </div>
      </div>
    </vs-popup>
  </div>
</template>
<script>
export default {
  props: {
    isModalActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      title: "",
      id: null,
      foodName: "",
      foodType: "",
      price: "",
      describe: "",
      calroies: "",
      dataImg: null,
      foodImage: null,
      imageTrigger: false,
      typeFood: [
        { text: "เลือก...", value: "" },
        { text: "อาหารคาว", value: "อาหารคาว" },
        { text: "อาหารหวาน", value: "อาหารหวาน" },
        { text: "เครื่องดื่ม", value: "เครื่องดื่ม" },
        { text: "อื่นๆ", value: "อื่นๆ" }
      ]
    };
  },
  watch: {
    isModalActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        //init value
        this.initValues();
        this.$validator.reset();
        this.title = "เพิ่มเมนูอาหาร";
      } else {
        this.title = "แก้ไขเมนูอาหาร";
        this.id = this.data._id;
        this.foodName = this.data.foodName;
        this.foodType = this.data.foodType;
        this.price = this.data.price;
        this.describe = this.data.describe;
        this.calroies = this.data.calroies;
        this.foodImage = this.data.foodImage;
        this.dataImg = null
        this.imageTrigger = false;
        this.initValues();
      }
    }
  },
  computed: {
    isModalActiveLocal: {
      get() {
        return this.isModalActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeModal");
        }
      }
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.foodName &&
        this.foodType &&
        this.price &&
        this.describe &&
        this.calroies
      );
    },
    serverUrl() {
      return process.env.VUE_APP_SERVER_URL;
    }
  },
  methods: {
    initValues() {
      if (this.data._id) return;
      this.id = null;
      this.foodName = "";
      this.foodType = "";
      this.price = "";
      this.describe = "";
      this.calroies = "";
      this.dataImg = null;
      this.foodImage = null;
      this.imageTrigger = false;
    },
    update_image(input) {
      if (input.target.files && input.target.files[0]) {
        this.foodImage = input.target.files[0];
        this.imageTrigger = true;
        var reader = new FileReader();
        reader.onload = e => {
          this.dataImg = e.target.result;
        };
        reader.readAsDataURL(input.target.files[0]);
      }
    },
    submitData() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const obj = {
            _id: this.id,
            foodName: this.foodName,
            foodType: this.foodType,
            price: this.price,
            describe: this.describe,
            calroies: this.calroies,
            dataImg: this.foodImage
          };

          if (this.id !== null && this.id.length >= 0) {
            this.$store
              .dispatch("foodList/updateItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
                });
              });
          } else {
            delete obj.id;
            obj.popularity = 0;
            this.$store
              .dispatch("foodList/addItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
                });
              });
          }
          this.$emit("closeModal");
          this.initValues();
        }
      });
    }
  }
};
</script>
