<template>
  <div id="data-list-list-view" class="data-list-container">
    <add-food-menu
      :isModalActive="addNewDataModal"
      @closeModal="toggleDataModal"
      :data="modalData"
    />
    <vs-table
      ref="table"
      :sst="true"
      @search="handleSearch"
      @sort="handleSort"
      :max-items="itemsPerPage"
      :data="Items"
      search
    >
      <div
        slot="header"
        class="flex flex-wrap-reverse items-center flex-grow justify-between"
      >
        <div
          class="flex flex-wrap-reverse items-center data-list-btn-container"
        >
          <!-- ITEMS PER PAGE -->
          <vs-dropdown
            vs-trigger-click
            class="cursor-pointer mb-4 mr-4 items-per-page-handler"
          >
            <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
            >
              <span class="mr-2"
                >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} -
                {{
                  totalItems - currentPage * itemsPerPage > 0
                    ? currentPage * itemsPerPage
                    : totalItems
                }}
                of {{ totalItems }}</span
              >
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>
              <vs-dropdown-item @click="itemsPerPage = 10">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 20">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 50">
                <span>50</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- ADD NEW -->

        <div
          class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary"
        >
          <!-- <span  class="text-center" style="width: 100px;" >เพิ่ม</span> -->
          <vs-button
            color="success"
            type="filled"
            style="width: 100px;"
            @click="addNewData"
            >เพิ่ม</vs-button
          >
        </div>
      </div>

      <template slot="thead">
        <vs-th sort-key="foodName">รายการอาหาร</vs-th>
        <vs-th sort-key="foodType">ประเภท</vs-th>
        <vs-th sort-key="price">ราคา</vs-th>
        <vs-th sort-key="describe">รายละเอียด</vs-th>
        <vs-th sort-key="calroies">จำนวนแคลอรี่</vs-th>
        <vs-th>แก้ไข</vs-th>
        <vs-th>ลบ</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="user-foodName font-medium truncate">
                {{ tr.foodName }}
              </p>
            </vs-td>

            <vs-td>
              <p
                v-bind:style="[
                  tr.foodType === 'อาหารคาว'
                    ? { color: '#fc1703' }
                    : tr.foodType === 'อาหารหวาน'
                    ? { color: '#0000ff' }
                    : tr.foodType === 'เครื่องดื่ม'
                    ? { color: '#289c59' }
                    : { color: '#ff9900' }
                ]"
                style="font-weight: bold;"
              >
                {{ tr.foodType }}
              </p>
            </vs-td>

            <vs-td>
              <p class="user-price">{{ tr.price | toCurrency }}</p>
            </vs-td>

            <vs-td>
              <p class="user-describe">{{ tr.describe }}</p>
            </vs-td>

            <vs-td>
              <p class="user-calroies">{{ tr.calroies }}</p>
            </vs-td>

            <vs-td class="whitespace-no-wrap">
              <vs-button
                color="warning"
                type="filled"
                @click.stop="editData(tr)"
                style="width: 100px;"
                >แก้ไข</vs-button
              >
            </vs-td>
            <vs-td>
              <vs-button
                color="danger"
                type="filled"
                @click.stop="confirmDelete(tr._id)"
                style="width: 100px;"
                >ลบ</vs-button
              >
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
    <vs-pagination :total="totalPages" v-model="currentPage"></vs-pagination>
  </div>
</template>

<script>
import AddFoodMenu from "./AddFoodMenu";
import moduleFoodMenu from "@/store/food-menu/moduleFoodMenu.js";

export default {
  components: {
    AddFoodMenu
  },
  watch: {
    currentPage(newVal) {
      this.fetchOption.page = newVal;
      this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
    },
    itemsPerPage(newVal) {
      this.fetchOption.limit = newVal;
      this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
    }
  },
  data() {
    return {
      //Data Class Declare Here

      // Add Modal
      addNewDataModal: false,
      modalData: {},

      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      },
      // products: [],
      itemsPerPage: 10,
      isMounted: false,
      popupActive: false,
      deleteId: null,

      //pagination
      currentPage: 1,
      fetchOption: {
        search: "",
        sort: {},
        page: this.currentPage,
        limit: this.itemsPerPage
      }
    };
  },

  computed: {
    menus() {
      return this.$store.state.foodList.menus;
    },
    Items() {
      return this.menus.docs ? this.menus.docs : [];
    },
    totalItems() {
      return this.menus.totalDocs ? this.menus.totalDocs : 0;
    },
    page() {
      return this.menus.page;
    },
    totalPages() {
      return this.menus.totalPages ? this.menus.totalPages : 0;
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.foodName &&
        this.foodType &&
        this.price &&
        this.describe &&
        this.calroies
      );
    },
    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    }
  },
  methods: {
    handleSearch(search) {
      this.currentPage = 1;
      this.fetchOption.search = search;
      this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
    },
    handleSort(key, active) {
      if (active) {
        this.fetchOption.sort[key] = active;
        this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
      } else {
        this.fetchOption.sort = {};
        this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
      }
    },
    addNewData() {
      this.modalData = {};
      this.toggleDataModal(true);
    },
    toggleDataModal(val = false) {
      this.addNewDataModal = val;
    },
    editData(data) {
      this.modalData = data;
      this.toggleDataModal(true);
    },
    confirmDelete(_id) {
      this.deleteId = _id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        acceptText: "ยืนยัน",
        cancelText: "ยกเลิก",
        title: `ยืนยันการลบ`,
        text: "คุณต้องการลบหรือไม่",
        accept: this.acceptAlert
      });
    },
    acceptAlert() {
      this.$store
        .dispatch("foodList/removeItem", this.deleteId)
        .then(result => {
          if (result.data.success) {
            this.$vs.notify({
              color: "success",
              title: "ลบข้อมูล",
              text: result.data.message
            });
          } else {
            this.$vs.notify({
              color: "danger",
              title: "ลบข้อมูล",
              text: result.data.message
            });
          }
        })
        .catch(err => {
          if (!err) {
            this.$vs.notify({
              color: "danger",
              title: "เกิดข้อผิดพลาด",
              text: err.data.message
            });
          }
        });
    }
  },
  created() {
    if (!moduleFoodMenu.isRegistered) {
      this.$store.registerModule("foodList", moduleFoodMenu);
      moduleFoodMenu.isRegistered = true;
    }
    this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search {
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          & + i {
            left: 1rem;
          }

          &:focus + i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }

    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
