<template>
  <div>
    <vs-row style="margin-bottom: 20px;">
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12">
        <h3>เลือกวันที่ต้องการดู</h3>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันเริ่มต้น<datepicker
          placeholder="เลือกวันที่"
          v-model="dateStart"
          :disabled-dates="disableStart"
          :language="th"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันสิ้นสุด<datepicker
          placeholder="เลือกวันที่"
          v-model="dateEnd"
          :disabled-dates="disableEnd"
          :language="th"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12" class="back-section">
        <div class="own-btn">
          <vs-button
            style="width: 100%;"
            icon="keyboard_backspace"
            @click.stop="$router.go(-1)"
            >ย้อนกลับ</vs-button
          >
        </div>
      </vs-col>
    </vs-row>
    <vs-row vs-w="12" vs-justify="space-between">
      <vs-col
        vs-type="flex"
        vs-lg="3"
        vs-sm="12"
        vs-xs="12"
        v-bind:class="'sidebar'"
      >
        <vx-card class="p-2" style="margin-right: 10px;">
          <div class="text-center">
            <h4 v-if="cashierName">
              {{ cashierName.firstName + " " + cashierName.lastName }}
            </h4>
            <h4 v-if="!cashierName">ยังไม่มีแคชเชียร์เข้างาน</h4>
          </div>
          <vs-avatar
            class="mx-auto my-6 block"
            size="80px"
            :src="require('@/assets/images/Project/avatar.jpg')"
          />
          <div class="flex justify-between text-center">
            <span>
              <p class="text-xl font-semibold">
                เงินตอนเข้า
              </p>
              <small class="text-grey">{{ cashierInitialMoney }}</small>
            </span>
            <span>
              <p class="text-xl font-semibold">
                มูลค่าบิล
              </p>
              <small class="text-grey">{{ orderValue }}</small>
            </span>
          </div>
          <vs-button
            v-if="!this.$store.state.cashier.data.cashier"
            type="gradient"
            class="w-full mt-6"
            color="#7367F0"
            gradient-color-secondary="#CE9FFC"
            @click="attendPrompt = true"
            >เข้างาน</vs-button
          >
          <vs-button
            v-if="this.$store.state.cashier.data.cashier"
            type="gradient"
            class="w-full mt-6"
            color="#7367F0"
            gradient-color-secondary="#CE9FFC"
            @click="outPrompt = true"
            >ออกงาน</vs-button
          >
        </vx-card>
      </vs-col>
      <vs-col vs-lg="9" vs-sm="12" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <vs-row vs-w="12">
          <!-- <vs-col vs-lg="12">
            <vs-input
              icon="search"
              class="inputx"
              placeholder="ค้นหา"
              v-bind:style="'width: 100%'"
            ></vs-input>
          </vs-col> -->

          <vs-col vs-lg="12">
            <vx-card>
              <vs-table
                ref="table"
                :max-items="limit"
                :data="cashierLog.docs ? cashierLog.docs : []"
                search
                stripe
              >
                <div
                  slot="header"
                  class="flex flex-wrap-reverse items-center flex-grow justify-between"
                >
                  <div
                    class="flex flex-wrap-reverse items-center data-list-btn-container"
                  >
                    <vs-dropdown
                      vs-trigger-click
                      class="cursor-pointer mb-4 mr-4 items-per-page-handler"
                    >
                      <div
                        class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
                      >
                        <span class="mr-2"
                          >{{
                            cashierLog.pagingCounter
                              ? cashierLog.pagingCounter
                              : 0
                          }}
                          -
                          {{
                            cashierLog.totalDocs - page * limit > 0
                              ? page * limit
                              : cashierLog.totalDocs
                          }}
                          of {{ cashierLog.totalDocs }}</span
                        >
                        <feather-icon
                          icon="ChevronDownIcon"
                          svgClasses="h-4 w-4"
                        />
                      </div>
                      <vs-dropdown-menu>
                        <vs-dropdown-item @click="limit = 50">
                          <span>50</span>
                        </vs-dropdown-item>
                        <vs-dropdown-item @click="limit = 100">
                          <span>100</span>
                        </vs-dropdown-item>
                      </vs-dropdown-menu>
                    </vs-dropdown>
                  </div>
                </div>

                <template slot="thead">
                  <vs-th sort-key="dateTime">วันที่/เวลา</vs-th>
                  <vs-th>ชื่อแคชเชียร์</vs-th>
                  <vs-th sort-key="startMoney">เวลาเข้างาน</vs-th>
                  <vs-th sort-key="stopMoney">เวลาออกงาน</vs-th>
                  <vs-th sort-key="orderValue">มูลค่าบิล</vs-th>
                </template>

                <template slot-scope="{ data }">
                  <tbody>
                    <vs-tr
                      :data="tr"
                      :key="indextr"
                      v-for="(tr, indextr) in data"
                    >
                      <vs-td>
                        {{ tr.dateTime | date(true) }}
                        {{ tr.dateTime | formatTime }}
                        ถึง
                        {{ tr.updatedAt | date(true) }}
                        {{ tr.updatedAt | formatTime }}
                      </vs-td>

                      <vs-td>
                        <span v-if="tr.cashier">{{
                          tr.cashier.firstName + " " + tr.cashier.lastName
                        }}</span>
                      </vs-td>

                      <vs-td>
                        {{ tr.startMoney | toCurrency }}
                      </vs-td>

                      <vs-td>
                        {{ tr.stopMoney | toCurrency }}
                      </vs-td>

                      <vs-td class="whitespace-no-wrap">
                        {{ tr.orderValue | toCurrency }}
                      </vs-td>
                    </vs-tr>
                  </tbody>
                </template>
              </vs-table>

              <vs-pagination
                :total="cashierLog.totalPages ? cashierLog.totalPages : 0"
                v-model="page"
              ></vs-pagination>
            </vx-card>
          </vs-col>
        </vs-row>
      </vs-col>
    </vs-row>
    <vs-popup
      title="เลือกแคชเชียร์ที่ต้องการเข้างาน"
      :active.sync="attendPrompt"
    >
      <div>
        <h3>กรุณากรอกชื่อแคชเชียร์</h3>
        <vue-simple-suggest
          pattern="\w+"
          v-model="model"
          :list="getList"
          :max-suggestions="10"
          :min-length="3"
          :debounce="200"
          :controls="{
            selectionUp: [38, 33],
            selectionDown: [40, 34],
            select: [13, 36],
            hideList: [27, 35]
          }"
          :mode="mode"
          placeholder="ค้นหาชื่อพนักงาน"
          value-attribute="_id"
          display-attribute="fullName"
          @select="onSuggestSelect"
        >
          <div class="g">
            <input type="text" />
          </div>

          <template slot="misc-item-above" slot-scope="{ suggestions, query }">
            <div class="misc-item">
              <span>คุณกำลังค้นหาแคชเชียร์ชื่อ '{{ query }}'.</span>
            </div>

            <template v-if="suggestions.length > 0">
              <div class="misc-item">
                <span>{{ suggestions.length }} ผลลัพธ์ถูกแสดง...</span>
              </div>
              <hr />
            </template>

            <div class="misc-item" v-else-if="!loading">
              <span>ไม่มีข้อมูลแคชเชียร์ </span>
            </div>
          </template>
        </vue-simple-suggest>
        <p>
          <span v-if="selected._id"
            >คุณได้เลือก {{ selected.fullName }} เพื่อเข้างาน</span
          >
          <span v-if="!selected._id">คุณยังไม่ได้เลือกแคชเชียร์</span>
        </p>
        <vs-divider></vs-divider>
        <div>
          <vs-input
            v-model="initialMoney"
            :danger="errors.has('แคชเชียร์')"
            danger-text="กรุณาระบุจำนวนเงินตั้งต้นเป็นตัวเลขเท่านั้น"
            name="แคชเชียร์"
            label-placeholder="จำนวนเงินตั้งต้น"
            placeholder="กรุณาระบุจำนวนเงินตั้งต้น"
            v-validate="'required|integer|numeric'"
          ></vs-input>
        </div>
        <vs-button
          @click="accepAttend"
          :disabled="!isValid"
          style="float: right;"
          >เข้างาน</vs-button
        >
      </div>
    </vs-popup>
    <vs-popup title="กรุณาระบุจำนวนเงิน" :active.sync="outPrompt">
      <vs-row>
        <vs-col vs-lg="9">
          <vs-input
            style="width: 90%;"
            v-model="outMoney"
            :danger="errors.has('เงินออก')"
            danger-text="กรุณาระบุจำนวนเงินในเครื่องเป็นตัวเลขเท่านั้น"
            name="เงินออก"
            label-placeholder="จำนวนเงินในเครื่อง"
            placeholder="กรุณาระบุจำนวนเงินในเครื่อง"
            v-validate="'required|integer|numeric'"
          ></vs-input>
        </vs-col>
        <vs-col vs-lg="3">
          <vs-button
            @click="outCashier"
            :disabled="!outValid"
            style="float: right; margin-top: 17px;"
            >ออกงาน</vs-button
          >
        </vs-col>
      </vs-row>
    </vs-popup>
  </div>
</template>

<script>
import VueSimpleSuggest from "vue-simple-suggest";
import "vue-simple-suggest/dist/styles.css";
import moduleUser from "@/store/user/moduleUser.js";
import moduleCashier from "@/store/cashier/moduleCashier.js";
import Datepicker from "vuejs-datepicker";
import { th } from "vuejs-datepicker/dist/locale";

export default {
  components: {
    VueSimpleSuggest,
    Datepicker
  },
  data() {
    return {
      selected: {
        _id: "",
        fullName: ""
      },
      model: null,
      mode: "input",
      loading: false,
      name: "",

      // popup wrap
      attendPrompt: false,
      outPrompt: false,
      outMoney: null,
      initialMoney: null,
      th: th,

      // pagination wrap
      search: "",
      dateStart: new Date(new Date().setDate(new Date().getDate() - 7)),
      dateEnd: new Date(),
      disableStart: {
        from: new Date()
      },
      disableEnd: {
        to: new Date(new Date().setDate(new Date().getDate() - 7)),
        from: new Date()
      },
      sort: {},
      page: 1,
      limit: 10
    };
  },
  methods: {
    loadingLog() {
      this.$vs.loading();
      this.$store
        .dispatch(`cashier/getCashierLog`, this.axiosParamsCashierLog)
        .then(result => {
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    },
    loadCashier() {
      this.$vs.loading();
      this.$store
        .dispatch(`cashier/getCashier`)
        .then(result => {
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
        });
    },
    onSuggestSelect(suggest) {
      this.selected = suggest;
    },
    boldenSuggestion(scope) {
      if (!scope) return scope;
      const { suggestion, query } = scope;
      let result = this.$refs.suggestComponent.displayProperty(suggestion);
      if (!query) return result;
      const texts = query.split(/[\s-_/\\|.]/gm).filter(t => !!t) || [""];
      return result.replace(
        new RegExp("(.*?)(" + texts.join("|") + ")(.*?)", "gi"),
        "$1<b>$2</b>$3"
      );
    },
    getList(inputValue) {
      this.name = inputValue;
      return this.$store.dispatch(`userList/fetchCashiers`, this.axiosParams);
    },
    close() {},
    accepAttend() {
      let obj = {
        cashier: this.selected._id,
        initialMoney: this.initialMoney
      };
      this.$store
        .dispatch(`cashier/addCashier`, obj)
        .then(result => {
          if (result.data.success) {
            this.$vs.notify({
              color: "success",
              title: "แคชเชียร์",
              text: result.data.message
            });
          }
          this.attendPrompt = false;
          this.loadCashier();
          this.loadingLog();
        })
        .catch(err => {});
    },
    outCashier() {
      let obj = {
        cashier: this.cashier.cashier._id,
        stopMoney: this.outMoney
      };
      this.$store
        .dispatch(`cashier/removeCashier`, obj)
        .then(result => {
          if (result.data.success) {
            this.$vs.notify({
              color: "success",
              title: "แคชเชียร์",
              text: result.data.message
            });
          }
          this.outPrompt = false;
          this.loadCashier();
          this.loadingLog();
        })
        .catch(err => {});
    }
  },
  computed: {
    axiosParamsCashierLog() {
      let start = new Date(new Date(this.dateStart).setHours(0, 0, 0, 0));
      let stop = new Date(new Date(this.dateEnd).setHours(24, 0, 0, 0));
      const params = new URLSearchParams();
      params.append("search", this.search);
      params.append("dateStart", start);
      params.append("dateEnd", stop);
      params.append("sort", this.sort);
      params.append("page", this.page);
      params.append("limit", this.limit);
      return params;
    },
    isValid() {
      return (
        this.selected.fullName.length > 1 &&
        this.initialMoney !== null &&
        this.initialMoney &&
        !this.errors.any()
      );
    },
    outValid() {
      return this.outMoney !== null && this.outMoney && !this.errors.any();
    },
    axiosParams() {
      const params = new URLSearchParams();
      params.append("name", this.name);
      return params;
    },
    cashierLog() {
      return this.$store.state.cashier.log ? this.$store.state.cashier.log : [];
    },
    cashier() {
      return this.$store.state.cashier.data
        ? this.$store.state.cashier.data
        : [];
    },
    cashierName() {
      return this.$store.state.cashier.data.cashier
        ? this.$store.state.cashier.data.cashier
        : 0;
    },
    cashierInitialMoney() {
      return this.cashier.initialMoney ? this.cashier.initialMoney : "-";
    },
    orderValue() {
      return this.cashier.orderValue ? this.cashier.orderValue : "-";
    }
  },
  created() {
    if (!moduleUser.isRegistered) {
      this.$store.registerModule("userList", moduleUser);
      moduleUser.isRegistered = true;
    }
    if (!moduleCashier.isRegistered) {
      this.$store.registerModule("cashier", moduleCashier);
      moduleCashier.isRegistered = true;
    }
    this.loadCashier();
    this.loadingLog();
  },
  watch: {
    page(newVal) {
      this.loadingLog();
    },
    limit(newVal) {
      this.loadingLog();
    },
    dateStart(newVal, oldVal) {
      this.disableEnd.to = this.dateStart;
      this.loadingLog();
    },
    dateEnd(newVal, oldVal) {
      this.disableStart.from = this.dateEnd;
      this.loadingLog();
    }
  }
};
</script>
