<template>
  <div>
    <vs-row vs-w="12" vs-justify="space-between">
      <vs-col vs-lg="12" vs-sm="12" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <span class="table-id">โต๊ะ {{ Table }}</span>
        <vs-button
          style="float: right; margin-bottom: 10px;"
          class="own-btn"
          icon="keyboard_backspace"
          @click.stop="$router.go(-1)"
          >ย้อนกลับ</vs-button
        >
      </vs-col>
    </vs-row>
    <vs-row vs-w="12" vs-justify="space-between">
      <vs-card>
        <vs-row vs-w="12" vs-justify="space-between">
          <vs-col
            v-bind:class="'box'"
            vs-type="flex"
            vs-lg="6"
            vs-sm="6"
            vs-xs="12"
          >
            <div class="detail">
              <h1 style="text-align: center;margin-bottom: 10px;">
                รายละเอียดราคา
              </h1>
              <p>
                <span class="text-danger">รายการทั้งหมด</span>
                <span class="price">{{ OrderCount }} รายการ</span>
              </p>
              <p>
                <span class="text-warning">รายการที่กำลังทำ</span>
                <span class="price"
                  >{{
                    OrderWaiting.reduce((acc, val) => acc + val.quantity, 0)
                  }}
                  รายการ
                </span>
              </p>
              <p>
                <span class="text-success">รายการที่สำเร็จ</span>
                <span class="price"
                  >{{
                    OrderSuccess.reduce((acc, val) => acc + val.quantity, 0)
                  }}
                  รายการ
                </span>
              </p>
              <vs-divider></vs-divider>
              <p v-for="(order, index) in OrderAll" :key="index">
                <span
                  v-bind:class="{
                    'text-success ': order.status === 'รายการสำเร็จ',
                    'text-warning': order.status === 'กำลังทำรายการ',
                    'text-danger': order.status === 'ได้รับรายการ'
                  }"
                  >• {{ order.foodName }}</span
                >

                <span class="price"
                  >{{ order.price | toCurrency }} x {{ order.quantity }}
                </span>
              </p>
              <vs-divider></vs-divider>
              <p class="summary">
                ยอดรวม
                <span class="price">{{ Sum | toCurrency }} </span>
              </p>
              <p class="summary">
                เงินทอน
                <span class="price" style="color: #ff0000;">{{
                  Change | toCurrency
                }}</span>
              </p>
            </div>
          </vs-col>
          <vs-col
            v-bind:class="'box'"
            vs-type="flex"
            vs-lg="6"
            vs-sm="6"
            vs-xs="12"
          >
            <div class="cal">
              <h1>฿<span v-if="!recieveAmount">0</span>{{ recieveAmount }}</h1>
              <div class="pad-row">
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(1)"
                  >1</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(2)"
                  >2</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(3)"
                  >3</vs-button
                >
              </div>
              <div class="pad-row">
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(4)"
                  >4</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(5)"
                  >5</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(6)"
                  >6</vs-button
                >
              </div>
              <div class="pad-row">
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(7)"
                  >7</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(8)"
                  >8</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(9)"
                  >9</vs-button
                >
              </div>
              <div class="pad-row">
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="recieveAmount = recieveAmount.slice(0, -1)"
                  >cls</vs-button
                >
                <vs-button
                  class="pad"
                  color="dark"
                  type="border"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="addValue(0)"
                  >0</vs-button
                >
                <vs-button
                  class="pad"
                  color="#7367F0"
                  type="filled"
                  :disabled="orderStatus !== 'อยู่ในกระบวนการ'"
                  @click="paymentAction()"
                  >=</vs-button
                >
              </div>
            </div>
          </vs-col>
        </vs-row>
        <vs-col vs-lg="12" vs-sm="12" vs-xs="12">
          <div class="action-section">
            <vs-button
              class="btn"
              color="success"
              type="filled"
              icon="payment"
              :disabled="orderStatus == 'กระบวนการสำเร็จ'"
              @click="paymentAction()"
              >ชำระเงิน</vs-button
            >
            <vs-button
              class="btn"
              color="#7367F0"
              type="filled"
              icon="description"
              @click="billModal()"
              :disabled="orderStatus !== 'กระบวนการสำเร็จ'"
              >ใบเสร็จ</vs-button
            >
          </div>
        </vs-col>
      </vs-card>
    </vs-row>
    <vs-prompt
      title=""
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="success"
      @cancel="close"
      @accept="acceptServe"
      @close="close"
      :active.sync="acceptPrompt"
    >
      <div class="con-exemple-prompt" style="text-align: center">
        <feather-icon
          icon="CheckCircleIcon"
          svgClasses="stroke-current text-success"
          v-bind:class="'own-icon'"
        />
        <p>
          ต้องการชำระเงินหรือไม่ ?
        </p>
      </div>
    </vs-prompt>
    <vs-prompt
      title=""
      accept-text="พิมพ์"
      cancel-text="ยกเลิก"
      color="success"
      @cancel="close"
      @accept="printBill"
      @close="close"
      :active.sync="billPrompt"
    >
      <vx-card>
        <h3 style="text-align: center">ใบเสร็จรับเงิน</h3>
        <p>{{ shopName }}</p>
        <p>{{ address }}</p>
        <p><b>หมายเลขใบเสร็จ:</b> {{ billId }}</p>
        <p><b>โต๊ะ:</b> {{ Table }}</p>
        <p><b>วันที่:</b> {{ Table }}</p>
        <vs-divider></vs-divider>
        <h4>รายการ</h4>
        <vs-divider></vs-divider>
        <p
          v-for="(order, index) in OrderAll.filter(
            item => item.status === 'รายการสำเร็จ'
          )"
          :key="index"
        >
          {{ order.foodName }}
          <span class="price"
            >{{ order.price | toCurrency }} x {{ order.quantity }}
          </span>
        </p>
        <vs-divider></vs-divider>
        <p style="text-align: right; font-weight: bold;">
          รวม:
          {{ OrderSuccess.reduce((acc, val) => acc + val.quantity, 0) }} รายการ
        </p>
        <p style="text-align: right; font-weight: bold;">
          ราคา: {{ Sum | toCurrency }}
        </p>
      </vx-card>
    </vs-prompt>
  </div>
</template>

<script>
import moduleOrder from "@/store/order/moduleOrder.js";
import moduleSetting from "@/store/storeSetting/moduleStoreSetting";

export default {
  data() {
    return {
      recieveAmount: "",
      acceptPrompt: false,
      billPrompt: false,
      shopName: "",
      address: ""
    };
  },
  computed: {
    id() {
      return this.$store.state.orderList.orderId;
    },
    billId() {
      return this.$store.state.orderList.payment.billId;
    },
    orderStatus() {
      return this.$store.state.orderList.orders.menu.orderStatus;
    },
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    },
    OrderAll() {
      return this.$store.getters["orderList/groupOrderStatus"]
        ? this.$store.getters["orderList/groupOrderStatus"]
        : [];
    },
    Order() {
      return this.$store.state.orderList.orders
        ? this.$store.state.orderList.orders
        : [];
    },
    OrderSuccess() {
      return this.$store.state.orderList.orders
        ? this.$store.state.orderList.orders.menu.menu.filter(
            item => item.status === "รายการสำเร็จ"
          )
        : [];
    },
    OrderWaiting() {
      return this.$store.state.orderList.orders
        ? this.$store.state.orderList.orders.menu.menu.filter(
            item => item.status === "กำลังทำรายการ"
          )
        : [];
    },
    OrderCount() {
      return this.$store.state.orderList.orders.menu.menu
        ? this.$store.state.orderList.orders.menu.menu.reduce(
            (acc, val) => acc + val.quantity,
            0
          )
        : 0;
    },
    Sum() {
      if (this.$store.state.orderList.orders.menu.menu.length > 0) {
        let sum = this.OrderSuccess.reduce((acc, val) => acc + val.sumPrice, 0);
        return sum;
      } else return 0;
    },
    Table() {
      return this.$store.state.orderList.orders.menu.table;
    },
    Change() {
      return this.recieveAmount - this.Sum;
    }
  },
  methods: {
    acceptServe() {
      let waiting = this.OrderWaiting.reduce(
        (acc, val) => acc + val.quantity,
        0
      );
      let menuSuccess = this.OrderSuccess.reduce(
        (acc, val) => acc + val.quantity,
        0
      );
      if (waiting <= 0) {
        let obj = {
          table: this.Table,
          totalMenu: menuSuccess,
          totalPrice: this.Sum,
          recieved: this.recieveAmount * 1,
          change: this.Change,
          order: this.id,
          cashier: this.activeUserInfo.displayName,
          cashierRef: this.activeUserInfo.id
        };

        this.$store
          .dispatch(`orderList/payment`, obj)
          .then(result => {
            if (result.data.success) {
              this.$vs.notify({
                color: "success",
                title: "ชำระเงิน",
                text: result.data.message
              });
              this.$store.dispatch(
                "orderList/getOrder",
                this.$store.state.orderList.orderId
              );
            } else {
              this.$vs.notify({
                color: "warning",
                title: "ชำระเงิน",
                text: result.data.message
              });
            }
          })
          .catch(err => {
            this.$vs.notify({
              color: "danger",
              title: "ชำระเงิน",
              text: "เกิดข้อผิดพลาดกรุณาลองอีกครั้งในภายหลัง"
            });
          });
      } else {
        this.$vs.notify({
          color: "warning",
          title: "ชำระเงิน",
          text: "มีรายการอาหารที่กำลังทำอยู่ไม่สามารถคิดเงินได้"
        });
      }
    },
    close() {},
    billModal() {
      this.billPrompt = true;
    },
    printBill() {},
    addValue(value) {
      if (this.recieveAmount < 1000000)
        this.recieveAmount = `${this.recieveAmount}${value}`;
    },
    paymentAction() {
      if (this.Sum <= this.recieveAmount) {
        this.acceptPrompt = true;
      } else {
        this.$vs.notify({
          title: "ชำระเงิน",
          text: "ชำระเงินไม่สำเร็จ, รับเงินน้อยกว่าที่ต้องจ่าย",
          iconPack: "feather",
          icon: "icon-alert-circle",
          color: "danger"
        });
      }
    }
  },
  created() {
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }
    if (!moduleSetting.isRegistered) {
      this.$store.registerModule("storeSetting", moduleSetting);
      moduleSetting.isRegistered = true;
    }
    this.$store
      .dispatch("storeSetting/fetchStoreSetting")
      .then(result => {
        this.shopName = result.data.shopName;
        this.address = result.data.address;
      })
      .catch(err => {});
    this.$store.dispatch(
      "orderList/getOrder",
      this.$store.state.orderList.orderId
    );
  }
};
</script>

<style scoped>
.own-icon svg {
  height: 8em;
  margin-top: -4px;
  pointer-events: none;
  vertical-align: middle;
  width: 7em;
}

.cal {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.pad {
  height: 70px;
  width: 31%;
  margin: 1%;
}
.input div input {
  text-align: center !important;
}
.btn {
  width: 100%;
  margin: 5px 0 5px 0;
  height: 60px;
}
.box {
  border: 1px solid #ccc;
  border-collapse: separate;
}
.detail {
  width: 100%;
  margin-top: 40px;
  display: block;
}
.detail p {
  margin: 0 15px 0 15px;
  font-size: 20px;
  font-weight: 300;
}
.price {
  float: right;
}
.summary {
  font-weight: bolder !important;
}
</style>
