<template>
  <vs-row>
    <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
    
    </vs-col>
    <vs-row class="mt-10">
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4">
        <vs-button
          size="large"
          color="dark"
          type="filled"
          class="bt"
          @click="$router.push('/ManageEmployee').catch(() => {})"
          ><vs-icon class="mr-3" icon="person"></vs-icon
          >จัดการพนักงาน</vs-button
        >
      </vs-col>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button
          color="rgb(207, 41, 171)"
          size="large"
          type="filled"
          class="bt"
          @click="$router.push('/ManageFoodMenu').catch(() => {})"
          ><vs-icon class="mr-3 " icon="assignment"></vs-icon
          >จัดการรายการอาหาร</vs-button
        >
      </vs-col>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button
          size="large"
          color="#00cfe8"
          type="filled"
          class="bt"
          @click="$router.push('/ManageTable').catch(() => {})"
          ><vs-icon class="mr-3 " icon="settings_input_svideo"></vs-icon
          >จัดการโต๊ะ</vs-button
        >
      </vs-col>
    </vs-row>
    <vs-row class="mt-10">
     
      <!-- <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button color="#28c76f" size="large" type="filled" class="bt"
          ><vs-icon class="mr-3 " icon="dialpad"></vs-icon>ชำระเงิน</vs-button
        >
      </vs-col>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button size="large" color="#581a1a" type="filled" class="bt"
          ><vs-icon class="mr-3 " icon="dvr"></vs-icon>รายการอาหาร</vs-button
        >
      </vs-col> -->
    </vs-row>
    <vs-row class="mt-10">
       <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button size="large" color="#ff8510" type="filled" class="bt" @click="$router.push('/OrderTable')"
          ><vs-icon class="mr-3 " icon="supervised_user_circle"></vs-icon
          >บริการลูกค้า</vs-button
        >
      </vs-col>
      <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button size="large" color="yellowgreen" type="filled" class="bt" @click="$router.push('/Report')"
          ><vs-icon class="mr-3 " icon="playlist_add_check"></vs-icon
          >รายงาน</vs-button
        >
      </vs-col>
       <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4"
        ><vs-button
          size="large"
          color="#7367f0"
          type="filled"
          class="bt"
          @click="$router.push('/Setting').catch(() => {})"
          ><vs-icon class="mr-3 " icon="settings"></vs-icon>ตั้งค่า</vs-button
        >
      </vs-col>
     
     
    </vs-row>
  </vs-row>
</template>

<script>
export default {
  mounted() {},
  data() {
    return {
      status: "เปิดร้าน"
    };
  },
  methods: {
    logout() {

        this.$auth.logOut();

        // If JWT login
        if(localStorage.getItem("accessToken")) {
          localStorage.removeItem("accessToken")
          this.$router.push('/pages/login').catch(() => {})
        }

        // Change role on logout. Same value as initialRole of acj.js
        this.$acl.change('admin')
        localStorage.removeItem('userInfo')

        // This is just for demo Purpose. If user clicks on logout -> redirect
        this.$router.push('/pages/login').catch(() => {})
    },
  },
};
</script>

<style>
.bt {
  width: 230px;
  height: 100px;
}
</style>
